manifest {
  name = 'hap.py Compare'
}

tower {
  accessToken = 'eyJ0aWQiOiAxfS44NzhiYTVhNDA3OGVkNDk3NTczNjNmZWM4YTk4NjZkM2YxYzA4ODMx'
  enabled = true
  endpoint = 'http://pnap-tower.tgen.org:8000/api'
}

singularity {
  enabled = true
  cacheDir = '/scratch/vpagano/nxf-singularity'
  runOptions = '--nv --bind /scratch/vpagano --bind /home/tgenref'
}

profiles {
  dback {
    process.beforeScript = """
      module load singularity/3.8.4
      module load squashfs-tools/4.5
    """
  }

  gemini {
    process.beforeScript = 'module load singularity/3.8.6'
    params.gpuClusterOptions = ' --nodes=1 -p gpu --ntasks=1 --gres=gpu:4 '
    params.happyQueue = 'cpu-scavenge'
  }

  noTower {
    enabled = false
  }

  
  reports {
    String timestamp = new Date().format("yyyyMMddHHmmss")
    
    trace.enabled = true
    report.enabled = true
    timeline.enabled = true
    dag.enabled = true
    trace.file = [params.outputFolder,manifest.name,timestamp,'trace.txt'].join('/')
    timeline.file = [params.outputFolder,manifest.name,timestamp,'timeline.html'].join('/')
    dag.file = [params.outputFolder,manifest.name,timestamp,'dag.dot'].join('/')
    report.file = [params.outputFolder,manifest.name,timestamp,'report.html'].join('/')
    params.dagFile = dag.file
    params.dag = true

  }
}

process {
  executor = 'slurm'
}


params {
  happyContainer = '/scratch/vpagano/singularity/hap.py-0.3.15.sif'
  happyCpus = 24
  happyOptions = '--roc QUAL --roc-filter LowQual --no-leftshift --no-decompose --gender=none --pass-only'
  happyQueue = 'defq'

  chromosome = 'all'
  reference = '/scratch/vpagano/play/GRCh38tgen_decoy_alts_hla.fa'
  sdf = '/scratch/vpagano/happy-test/GRCh38tgen_decoy_alts_hla.sdf'
  bedFile = '/scratch/vpagano/happy-test/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed'
  stratifications = '/scratch/vpagano/happy-test/v3.1-GRCh38-stratifications-all-except-genome-specific-stratifications.tsv'
}
